# Carpetas que no se deben copiar al contenedor
node_modules
dist
.git
.vscode
.idea

# Archivos temporales o del sistema
.DS_Store
Thumbs.db

# Configs locales o innecesarios
*.log
.env
.env.*.local
*.swp
